.main {
  background-color: hsl(218, 23%, 16%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  margin-top: 50px;
  padding: 16px;
  width: 80%;
  max-width: 300px;
  height: auto;
  background-color: hsl(210, 2%, 43%);
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 20vh;
  position: relative;
}

.advice_id {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 800;
  color: hsl(150, 100%, 66%);
  margin-top: 10px;
}

.card_text {
  color: hsl(193, 38%, 86%);
  margin-top: 25px;
  flex-wrap: wrap;
  font-size: 28px;
  font-weight: 800;
  margin: 22px;
}
.design {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-bottom: 40px;
}
.button {
  background-color: hsl(150, 100%, 66%);
  padding: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 50%;
  position: absolute;
  top: 85%;
  cursor: pointer;
}
.button:hover {
  filter: drop-shadow(0 0 10px hsl(150, 100%, 66%));
}
